DEBUG=True
DJANGO_SECRET_KEY=

NVIDIA_API_KEY=
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_CHAT_MODEL=
NVIDIA_EMBEDDING_MODEL=
NVIDIA_RERANK_MODEL=nvidia/rerank-qa-mistral-4b

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=document_chunks_v2