:root{

    /* ===== Layout ===== */

    --sidebar-width: 310px;
    --header-height: 82px;
    --input-height: 95px;

    /* ===== Colors ===== */

    --primary: #7C3AED;
    --primary-hover: #6D28D9;

    --background: #F7F8FC;

    --sidebar-bg: #FFFFFF;
    --card-bg: #FFFFFF;

    --border: #E7EAF3;

    --text: #1F2937;
    --text-light: #6B7280;

    --success: #16A34A;
    --danger: #DC2626;

    /* ===== Radius ===== */

    --radius-sm: 10px;
    --radius-md: 16px;
    --radius-lg: 22px;
    --radius-xl: 28px;

    /* ===== Shadow ===== */

    --shadow-sm: 0 4px 12px rgba(0,0,0,.05);
    --shadow-md: 0 8px 24px rgba(0,0,0,.08);

    /* ===== Animation ===== */

    --transition: .25s ease;

}

html[data-theme="dark"]{

    --background: #06070F;

    --sidebar-bg: #0E1018;

    --card-bg: #13161F;

    --border: #1E2235;

    --text: #F3F4F6;

    --text-light: #A5ADCB;

    --shadow-sm: 0 4px 12px rgba(0,0,0,.4);
    --shadow-md: 0 8px 24px rgba(0,0,0,.5);

}
